node_modules/
dist/
webserver/client/remote-webserver-client-dist.zip
logs/
**/logs/
**/.remote-client/
.runlogs/
localapp/keys/
webserver/server/keys/
testfolder/
.env
.env.local
.DS_Store
npm-debug.log*
yarn-debug.log*
yarn-error.log*
